body {
    width: 70%;
    max-width: 640px;
    margin: auto;
    padding: 2%;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.65;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

img.small-left {
    display: block;
    margin: 0;
    max-height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

h1 {
    font-size: 48px;
    color: orangered;
    text-align: center;
    padding: 20px 0px;
}

h2 {
    font-size: 28px;
    color: orangered;
    padding-top: 24px;
}

h3 {
    font-size: 23px;
    color: orangered;
    padding-top: 16px;
}

h4 {
    font-size: 21px;
    font-weight: normal;
    color: orangered;
    border-left: 4px solid #cdcdcd;
    padding-left: 12px;
}

h5 {
    font-size: 27px;
    color: orangered;
    padding-top: 4px;
}

p {
    font-size: 18px;
    color: black;
}

li {
    padding-bottom: 8px;
}

ul {
    font-size: 18px;
    color: #41414d;
    list-style: none;
}

ul li::before {
    content: "\2022";
    font-size: 18px;
    color: #0caee9;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ol {
    font-size: 18px;
    color: orangered;
}

a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
}

strong {
    color: black;
}

.highlight1 {
    color: black;
    border-radius: 2px;
    padding: 1px 5px;
    background-color: #ffecd0;
}

u {
    border-bottom: 1px solid #ffc332;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    border-left: 1px solid #cdcdcd;
    padding-left: 12px;
    margin-left: 0;
}

em {
    font-style: italic;
    font-size: 15px;
    padding-left: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tab {
    margin-left: 40px;
}

.dots {
    font-size: 24px;
    text-align: center;
    color: #0caee9;
}

hr.style1 {
    border-style: dashed;
    border-width: 0.5px;
    color: #cdcdcd;
}

hr.style2 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(134, 215, 244, 1), rgba(0, 0, 0, 0));
}